<header {# id="hero" #}>
    <div class="hero">
        <h4 class="citation text-center">Partager vos figures sur le site communautaire de snowtricks !</h4>
        <div class="arrow arrow-down">
            <a href="#tricks">
                <i class="fas fa-arrow-down"></i>
            </a>
        </div>
    </div>
</header>
