{% extends 'base.html.twig' %}

{% block title %}Accueil : Snowtricks
{% endblock %}

{% block body %}

    <header>
        <div class="hero">
            <h4 class="citation text-center">Partager vos figures sur le site communautaire de snowtricks !</h4>
            {# Flèche du bas #}
            <div class="arrow arrow-down">
                <a href="#tricks">
                    <i class="fas fa-arrow-down"></i>
                </a>
            </div>
        </div>
    </header>

    {# Liste des figures #}
    <section id="tricks">
        <div class="container p-3">
            {% if app.user %}
                {# Bouton création d'une figure #}
                <div class="new-trick-container text-end p-3 w-100">
                    <button type="button" class="btn btn-primary new-trick">
                        <a class="text-center" href="/tricks/new">
                            <i class="text-black fw-normal px-2 fab fa-creative-commons-share">
                                <span class="d-none-md">creation  d'une  figure</span>
                            </i>
                        </a>
                    </button>
                </div>
            {% endif %}
            <div class="row" id="tricks_container">
                {% include "trick/tricks.html.twig" %}
            </div>
        </div>
        {# Bouton 'load more' #}
        <div class="container">
            <a href="" class="d-grid gap-2 col-2 mx-auto text-decoration-none" id="load-more">
                <button class="text-center bg-primary rounded" onclick="loadMore(); return false">
                    <span>Load More</span>
                </button>
                <input type="hidden" id="loadMore" name="loadMore" value="0">
            </a>
        </div>
        {# Flèche du haut #}
        <div class="arrow">
            <a href="#">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </section>

{% endblock %}
