{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Bienvenu dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere atque debitis exercitationem aperiam dolorem repudiandae corrupti dignissimos beatae ad enim facilis, libero a nulla officia labore laborum sequi et. Quasi distinctio eum quis dolore voluptates fugiat quidem aut earum. Laboriosam.</p>
    <p>Eligendi nam cumque velit dicta deserunt et repellendus saepe in, amet consectetur adipisci, unde id eius aperiam sint libero, quasi illum recusandae nulla quo beatae natus dolor. Nostrum quod animi, repellendus obcaecati aliquam recusandae dolorum harum libero architecto molestias ipsum.</p>
{% endblock %}
