@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway", "sans-serif";
}

nav{
    border-bottom: solid 1.5px rgb(14, 4, 44);
}
.hero{
    position: relative;
    background-image: url(/assets/imghero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 92vh;    
}
.citation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    font-size: 2rem;
    font-weight: bold;
    color: rgb(14, 4, 44);
    transition: 2s;
}
.arrow .fas{
    color: rgb(14, 4, 44);
    font-size: 2.25rem;
}
.arrow-down{
    position: absolute;
    top: 80%; 
    right: 0.2rem;   
}
.arrow{
    text-align: end;
    margin-right: 2rem; 
    margin-bottom: 2rem;   
}

#tricks {
    min-height: 100vh;
}

.card-body .card-img{
    height: 13rem;
    /* object-fit: cover; */
    object-fit: fill;
}
.test{
    background-color: red;
    color: white;
    margin-right: 10px;
}

button, .button {
    padding: 6px 12px;    
    text-decoration: none;
    display: inline-block;
    border: solid 1px darkgray;
}

.edit-media {        
    position: relative;
}
.edit-media div.delete-overlay{
    opacity: 0.7;
    background-color: #333;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;        
}
.edit-media:hover div.delete-overlay{
    display: flex;
}