@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway", "sans-serif";
}

/* NAVIGATION */
nav {
    width: 100%;
    border-bottom: rgb(14, 4, 44) 1.5px solid;
}
.main-container {
    flex-grow: 1;
    width: 100%;
}

/* PAGE ACCUEIL */
.hero{
    position: relative;
    background-image: url("/assets/imghero.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;    
}

.citation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    font-size: 2rem;
    font-weight: bold;
    color: rgb(14, 4, 44);
    transition: 2s;
}

/* FLECHES BAS HAUT PAGE ACCUEIL */
.arrow .fas{
    color: rgb(14, 4, 44);
    font-size: 2.25rem;
}
.arrow-down{
    position: absolute;
    top: 80%; 
    right: 0.2rem;   
}
.arrow{
    text-align: end;
    margin-right: 2rem; 
    margin-bottom: 2rem;   
}
.new-trick-container {
    text-align: right;
    width: 100%;
    padding: 15px 0;
}

/* CARTES IMAGES */
.card-body .card-img{
    height: 13rem;
    object-fit: cover;
    /* object-fit: fill; */
}

/* BOUTONS BOUTONS-ICONES */
button, .delete-btn, .icon-btn {
    padding: 6px 12px;    
    text-decoration: none;
    display: inline-block;
    border: darkgray 1px solid;
}

.delete-btn{
    background-color: red;
    color: aliceblue;
}
.icon-btn{
    top: 1%;
    right: 1%;
}

/* HOVER: BOUTON LOAD MORE */
.container > a:hover{
    opacity: 0.9;
}
.container span:hover{
    color: aliceblue;
}

/* MINIATURES TELECHARGEES DU FORMULAIRE EDIT/DELETE */
.edit-media {        
    position: relative;
}
.edit-media > img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.edit-media div.delete-overlay{
    opacity: 0.7;
    background-color: #333;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: -14px;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;        
}
.edit-media:hover div.delete-overlay{
    display: flex;
}
/* .modife{
    background-image: url("imghero.jpg");
} */

/* VIDEO EMBED*/
.yt{
    width: 320px;
    height:320px;
}
.yt iframe{
    width: 100%;
    height: 100%;
}

/* FOOTER */
footer{
    border-top: rgb(14, 4, 44) 1.5px solid;
}
