<!-- Modal -->
<div class="modal fade" id="deleteVideoConfirmationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="confirmation de la suppression" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmer la suppression de la vidéo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous vraiment supprimer cette vidéo ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                {% if video is defined %}
                  <a href="{{ path('trick_video_delete', { 'id': trick.id, 'videoId': video.id }) }}" class="btn btn-danger">Supprimer
                {% else %}
                    <p>Erreur : La variable "video" n'est pas définie.</p>
                {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
{# <div class="modal fade" id="deleteMediaConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation de la suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ... Voulez-vous supprimer cette video ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Continuer
            <a id="deleteTrick" href="{{ path('trick_video_delete', { 'id': trick.id, 'videoId': video.id }) }}"></a>
        </button>
      </div>
    </div>
  </div>
</div> #}