<!-- Button trigger modal -->
<!--<a data-bs-toggle="modal" data-bs-target="#exampleModal" href="/tricks/{{ trick.slug }}/edit">
    <i class="fas fa-pen"></i> &nbsp;{{ trick.name}}
</a>-->
<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="confirmation de la suppression" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation de la suppression</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous supprimer cette figure ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <a id="deleteTrick" href="/tricks/{{ trick.id }}/delete">
                    <button type="button" class="btn btn-primary">Continuer</button>
                </a>
              {# <a id="exampleModal" href="/tricks"></a> #}
              {# <a id="deleteTrick" href="{{ path('app_home') }}"</a> #}
                
            </div>
        </div>
    </div>
</div>


