{% for comment in comments %}
    <div class="comment">
        <div class="row">
            <div class="col">
                <img class="mb-4 mx-5" src="https://ui-avatars.com/api/?rounded=true&background=random&name={{ comment.user.username|default('undefined') }}" width="40px">
                <strong>{{ comment.user.username|default('') }}</strong>
                <span class="ps-2">Le {{ comment.createdAt | date('d/m/y à H:i') }}</span>
            </div>
        </div>
        <div class="col mb-4 ms-5">
            {{ comment.content | raw }}
        </div>
    </div>
{% endfor %}
